.button{
    margin-bottom: 15px;
    margin-left: 740px;
    border-style: none;
    width: 250px;
    height: 80px;
    border-radius: 25px;
    background-color: rgb(72, 226, 72);
    font-size: 20px;
}

.button a{
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: rgba(33, 116, 33, 0.808);
}