.warningGrid{
    width: 350px;
    margin-bottom: 30px;
}
.information{
    background-color:rgba(3, 21, 30, 1);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px rgba(97, 158, 150, 0.952);
    color: white;
}

.situation{
   
    margin: auto 0;
   height: 20px;
    text-align: center;
    padding: 0;
}

.ico{
    width: 100px;
    height: 100px;
}

.buttonSituation{

    margin: auto 0;
   width: 35px;
   height: 35px;
   padding: 0;
}